cargo-features = ["profile-overrides"]


[workspace]

members = [
  "gen",
  "parser",
"counter", 
]

[patch.'https://github.com/tower-rs/tokio-tower.git']
tokio-tower = { git = "https://github.com/ms705/tokio-tower.git", branch = "patched-for-old-noria" }

[profile.release]
debug = true
